<ion-buttons slot="primary">
  <ion-button class="bg-[#5577FF] rounded-lg" id="open-modal" expand="block">
    <ion-icon name="add-outline" class="text-white"></ion-icon>
  </ion-button>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="close()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
          <ion-title>{{ todoSelected ? "Editar" : "Criar" }} Tarefa</ion-title>
          <ion-buttons slot="end" (click)="onSave()">
            <ion-button [strong]="true" [disabled]="isSubmitting">{{
              isSubmitting ? "Salvando ..." : "Salvar"
            }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <form
        action=""
        [formGroup]="payload"
        class="flex-1 p-5 flex flex-col gap-6"
      >
        <div class="flex flex-col gap-2">
          <label class="text-xs"
            >Finalizar em: <ion-text color="danger">*</ion-text></label
          >

          <input
            type="datetime-local"
            formControlName="finishedAt"
            required
            class="outline-none border rounded-lg border-slate-300"
          />

          <small class="text-red-600">
            <ng-container
              *ngIf="
                payload.get('finishedAt')?.hasError('required') &&
                (payload.get('finishedAt')?.touched ||
                  payload.get('finishedAt')?.dirty)
              "
            >
              Campo obrigatório
            </ng-container>
          </small>
        </div>

        <div class="flex flex-col gap-2">
          <label class="text-xs">
            Título <ion-text color="danger">*</ion-text>
          </label>

          <input
            type="text"
            formControlName="title"
            class="outline-none border rounded-lg border-slate-300"
          />

          <small class="text-red-600">
            <ng-container
              *ngIf="
                payload.get('title')?.hasError('required') &&
                (payload.get('title')?.touched || payload.get('title')?.dirty)
              "
            >
              Campo obrigatório
            </ng-container>
          </small>
        </div>

        <div class="flex flex-col gap-2">
          <label class="text-xs"> Descrição </label>

          <textarea
            formControlName="description"
            class="outline-none border rounded-lg border-slate-300"
          ></textarea>
        </div>

        <div class="flex flex-col gap-2">
          <ion-checkbox formControlName="completed"
            >Tarefa completa?</ion-checkbox
          >
        </div>

        @if (errorMessage) {
        <small class="text-red-500">{{ errorMessage }}</small>
        }
      </form>
    </ng-template>
  </ion-modal>
</ion-buttons>
