<ion-item class="rounded-xl border mb-4" lines="none">
  <ion-grid>
    <ion-row class="items-center gap-4">
      <ion-col class="flex items-center gap-2" size="auto">
        <ion-checkbox
          [checked]="todo.completed"
          (ionChange)="onUpdateComplete($event)"
        ></ion-checkbox>
        <ion-text class="font-medium text-sm">{{ todo.title }}</ion-text>
      </ion-col>

      <ion-col class="flex justify-end gap-2">
        <ion-button size="small" fill="clear" (click)="onEdit()">
          <ion-icon
            name="create-outline"
            slot="icon-only"
            class="text-orange-500"
          ></ion-icon>
        </ion-button>
        <ion-button size="small" fill="clear" (click)="onDelete()">
          <ion-icon
            name="trash-outline"
            slot="icon-only"
            class="text-red-600"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    @if(todo.description) {

    <ion-row>
      <ion-col>
        <ion-text class="text-sm my-4">{{ todo.description }}</ion-text>
      </ion-col>
    </ion-row>
    }

    <ion-row class="items-center flex-wrap gap-4 md:flex-nowrap md:gap-0">
      <ion-col class="flex items-center gap-2 md:flex-[2]">
        <ion-label class="text-xs font-bold">Finalização em:</ion-label>
        <ion-chip>{{ finishedAt }}</ion-chip>
      </ion-col>

      <ion-col class="flex justify-end md:flex-[1]" size="auto">
        <ion-button
          class="bg-[#5577FF] rounded-xl h-5"
          [routerLink]="['/todo', todo.id, 'details']"
          size="small"
        >
          Ver detalhes
          <ion-icon
            name="chevron-forward-outline"
            class="text-white"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
