<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="border-none min-h-20 items-center flex">
      <ion-title class="text-slate-600 text-base underline">Tarefas</ion-title>
      <modal-add-todo></modal-add-todo>
    </ion-toolbar>
  </ion-header>

  <div class="py-4">
    @if (isLoading) {
    <div class="flex justify-center">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    } @else {
    <div>
      <ion-searchbar
        animated="true"
        placeholder="Digite aqui..."
        show-clear-button="focus"
        [debounce]="1000"
        (ionInput)="onChangeInput($event)"
      ></ion-searchbar>

      <ul class="px-4 flex flex-col gap-2">
        <todo-item
          *ngFor="let todo of todos; trackBy: trackByTodoId"
          [todo]="todo"
          (deleteTodo)="onDeleteTodo($event)"
        >
        </todo-item>
      </ul>
    </div>
    }
  </div>
</ion-content>
