<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="border-none min-h-24 items-center flex">
      <ion-title class="text-slate-600 text-base underline">Tarefas</ion-title>
      <modal-add-todo
        (fetchAllTodos)="fetchAllTodos()"
        [todoSelected]="todoSelected"
        #modalAddTodo
      ></modal-add-todo>
    </ion-toolbar>
  </ion-header>

  <div class="p-4">
    @if (isLoading) {
    <div class="flex justify-center">
      <ion-spinner name="dots"></ion-spinner>
    </div>
    } @else {
    <ion-searchbar
      placeholder="Digite aqui..."
      show-clear-button="focus"
      [value]="query"
      [debounce]="1000"
      (ionInput)="onChangeInput($event)"
    ></ion-searchbar>

    <ion-list>
      @for (todo of todos; track todo.id) {
      <todo-item
        *ngFor="let todo of todos; trackBy: trackByTodoId"
        [todo]="todo"
        (deleteTodo)="onDeleteTodo($event)"
        (fetchAllTodos)="fetchAllTodos()"
        (onSelectTodo)="onSelectTodo(todo)"
      >
      </todo-item>
      } @empty {
      <ion-item lines="none">Sem resultado!</ion-item>
      }
    </ion-list>

    }
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button id="open-modal" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
