<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="border-none min-h-24 items-center flex">
      <ion-buttons slot="secondary">
        <ion-button class="bg-[#5577FF] rounded-lg" [routerLink]="['/todos']">
          <ion-icon name="chevron-back-outline" class="text-white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="text-slate-600 text-base underline">Tarefas</ion-title>
      <ion-buttons slot="primary">
        <ion-button class="bg-[#5577FF] rounded-lg" slot="primary">
          <ion-icon name="add-outline" class="text-white"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @if (todo) {
  <div>
    <ion-breadcrumbs class="mb-4">
      <ion-breadcrumb [routerLink]="['/todos']">Página Inicial</ion-breadcrumb>
      <ion-breadcrumb>{{ todo.title }}</ion-breadcrumb>
    </ion-breadcrumbs>

    <div class="flex flex-col gap-4">
      <ion-item class="text-sm">
        <span class="font-semibold">Título da tarefa</span>: {{ todo.title }}
      </ion-item>

      <ion-item class="text-sm">
        <span class="font-semibold">Descrição da tarefa</span>: {{
        todo.description || '-' }}
      </ion-item>

      <ion-item class="text-sm">
        <span class="font-semibold">Finalizada em</span>: {{ finishedAt}}
      </ion-item>
      <ion-item class="text-sm">
        <span class="font-semibold">Está completo?</span>
        <span class="ml-1">{{ todo.completed ? ' Sim' : ' Não' }}</span>
      </ion-item>
    </div>
  </div>
  } @else {
  <div>
    <h1>Todo não encontrado</h1>
  </div>
  }
</ion-content>
