<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar class="border-none min-h-20 items-center flex">
      <ion-buttons slot="secondary">
        <ion-button class="bg-[#5577FF] rounded-lg" [routerLink]="['/todos']">
          <ion-icon name="chevron-back-outline" class="text-white"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="text-slate-600 text-base underline">Tarefas</ion-title>
      <ion-buttons slot="primary">
        <ion-button class="bg-[#5577FF] rounded-lg">
          <ion-icon name="add-outline" class="text-white"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  @if (todo) {
  <div>
    <h1>{{ todo.title }}</h1>
  </div>
  } @else {
  <div>
    <h1>Todo não encontrado</h1>
  </div>
  }
</ion-content>
